
@font-face {
  font-family: superstar;
  src: url(fonts/superstar_2/superstar_memesbruh03.ttf);
}

@font-face {
  font-family: edu;
  src: url(fonts/edit_undo_line/edunline.ttf);
}
html{
  box-sizing: border-box;
  font-family:'superstar' ;
}

*,*::before,*::after{
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  
  

}
h1{
  font-size: 4rem;
  justify-content: center; 
}
header{
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none
}

li{
  border: black solid 1px;

}

button{
  font-size: 1.5rem;
  font-family:'edu' ;
  border: none;
}

button:hover{
 
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  form{
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
  }
